* {
  text-decoration: none !important;
}

.maincontainer {
  background-color: white;
  width: 90%;
  margin: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  color: black;
}

.maincontainer h1 {
  text-align: center;
  padding-top: 30px;
}

.maincontainer #presentation {
  padding: 20px 0;
  border: 1px solid white;
  max-width: 1000px;
  margin: auto;
}

.maincontainer #presentation label {
  color: white;
  font-size: 20px;
  width: 100%;
  display: block;
  margin: 0;
}

.maincontainer #presentation div {
  height: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 85% 10%;
      grid-template-columns: 85% 10%;
  -webkit-column-gap: 5%;
          column-gap: 5%;
}

@media screen and (max-width: 1000px) {
  .maincontainer #presentation div {
    -ms-grid-columns: 83% 15%;
        grid-template-columns: 83% 15%;
    -webkit-column-gap: 2%;
            column-gap: 2%;
  }
}

@media screen and (max-width: 700px) {
  .maincontainer #presentation div {
    -ms-grid-columns: 80% 18%;
        grid-template-columns: 80% 18%;
    -webkit-column-gap: 2%;
            column-gap: 2%;
  }
}

.maincontainer #presentation div input {
  border: 2px solid gray;
  padding: 10px;
  border: 1px solid white;
}

.maincontainer #presentation div button {
  vertical-align: bottom;
  border: 1px solid gray;
}

.maincontainer #presentation div button:hover {
  border: 1px solid black;
}

.maincontainer .products {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(500px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  padding: 0px;
  text-align: center;
}

.maincontainer .products a:hover {
  border: 3px solid transparent;
  opacity: 0.8;
}

.maincontainer .products a img {
  width: 400px;
  height: 300px;
  border-radius: 10px;
}

.maincontainer .products a div.details {
  padding: 0;
  text-decoration: none;
}

.maincontainer .products a div.details h2 {
  margin: 0;
  font-weight: bold;
  color: black;
}

.maincontainer .products a div.details p {
  margin: 0 0 30px;
  color: black;
  text-decoration: none;
}

.showdetails {
  width: 550px;
  height: 240px;
  position: absolute;
  top: 50%;
  left: 30%;
  background-color: white;
  border-radius: 5px;
  border: 3px solid gray;
}

@media screen and (max-width: 1100px) {
  .showdetails {
    position: absolute;
    top: 50%;
    left: 22%;
  }
}

@media screen and (max-width: 750px) {
  .showdetails {
    position: absolute;
    top: 50%;
    left: 10%;
  }
}

@media screen and (max-width: 600px) {
  .showdetails {
    position: absolute;
    top: 50%;
    left: 0%;
  }
}

.showdetails .moredetails {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

.showdetails .moredetails img {
  width: 100%;
  height: 240px;
  max-height: 237px;
  padding: 0%;
  overflow: hidden;
}

.showdetails .moredetails div {
  padding: 15px;
}

.showdetails .moredetails div h2 {
  margin: 0;
  padding: 0;
  margin-bottom: 5%;
}

.showdetails .moredetails div input {
  border-radius: 10px;
  margin: 5% 0;
}

.showdetails .moredetails div div button {
  text-align: right;
}

form {
  padding: 20px;
}

form div.subtotal {
  text-align: right;
}

form p {
  text-align: right;
}

form span {
  color: red;
  padding-left: 40px;
}

form div.form {
  margin: 10% 0;
}

form div.form label {
  font-size: 20px;
}

form div.form input[type=text], form div.form input[type=email] {
  width: 100%;
  padding: 10px;
  border: 1px solid gray;
  background-color: #e9ecef;
  margin-top: 5px;
}

form div.form select {
  width: 100%;
  text-align: center;
  padding: 10px;
  border: 1px solid gray;
  background-color: #e9ecef;
}

form #button {
  text-align: right;
}

.box {
  width: 500px;
  height: auto;
  color: white;
  background-color: gray;
  border-radius: 10px;
  border: 1px solid white;
  text-align: center;
  position: absolute;
  top: 33%;
  right: 13%;
}

@media screen and (max-width: 1200px) {
  .box {
    position: absolute;
    top: 33%;
    right: 7%;
  }
}

@media screen and (max-width: 1000px) {
  .box {
    position: absolute;
    top: 33%;
    right: 4%;
  }
}

@media screen and (max-width: 700px) {
  .box {
    position: absolute;
    top: 33%;
    right: 2%;
  }
}

.box table thead th, .box table thead td, .box table tr th, .box table tr td {
  padding: 15px 14px 30px;
  border-bottom: 2px solid #b8b2b2;
}

.box div {
  text-align: right;
  padding: 20px;
}

.box div a {
  text-decoration: none;
  background-color: #198754;
  color: white;
  border: 0;
  outline: 0;
  padding: 8px 20px;
  border-radius: 4px;
}

.box div a:hover {
  background-color: #046337;
}

.signbox {
  width: 300px;
  height: 130px;
  padding: 30px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 40%;
  border-radius: 10px;
  background-color: gray;
}

@media screen and (max-width: 1000px) {
  .signbox {
    position: absolute;
    top: 50%;
    left: 37%;
  }
}

@media screen and (max-width: 800px) {
  .signbox {
    position: absolute;
    top: 50%;
    left: 30%;
  }
}

@media screen and (max-width: 700px) {
  .signbox {
    position: absolute;
    top: 50%;
    left: 23%;
  }
}

.signbox p {
  color: white;
}

.close {
  color: black;
  float: right;
  font-size: 28px;
  cursor: pointer;
  font-weight: bold;
  padding-right: 5px;
}
/*# sourceMappingURL=style.css.map */